:root {
	--primary-color: #222;
	--accent-color: #540054;
	--default-color: #181818;
	--alt-color: whitesmoke;
	--link-color: #FF7B00;
	--visited-color: var(--link-color);

	--article-font: Roboto;

	--nav-height: 5vh;
	--backdrop-background: rgba(0,0,0,0.7);
	--button-background: linear-gradient(#FF7B00, #A55200);
	--button-color: var(--alt-color);
	--header-image: url("/img/background.jpg");
	--header-large: url("/img/background-1200.jpg");
	--header-medium: url("/img/background-800.jpg");
	--header-small: url("/img/background-400.jpg");
}

::backdrop {
	--backdrop-background: rgba(0,0,0,0.7);
}
